/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    
    #sbsr-337 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      background-color: #F7F7F7;
    }
    #sbsr-337 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-337 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 32.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #sbsr-337 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #sbsr-337 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #sbsr-337 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #sbsr-337 .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      margin-bottom: 1rem;
    }
    #sbsr-337 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbsr-337 .cs-ul {
      width: 100%;
      margin: 0 0 2rem 0;
      padding-left: 1.25rem;
      /* prevents padding from affecting width and height */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    #sbsr-337 .cs-li {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      list-style: none;
      text-align: left;
      width: 100%;
      max-width: 25rem;
      margin: 0;
      color: var(--bodyTextColor);
      position: relative;
    }
    #sbsr-337 .cs-li:before {
      /* bullet */
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      top: 0.625rem;
      left: -0.9375rem;
    }
    #sbsr-337 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbsr-337 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #sbsr-337 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbsr-337 .cs-image-group {
      /* scaling entire section down. font-size starts at a min in vw, and stops  when that value reaches 1em (16px). Since we want the picture elements to base their font size on the parent and not the root, we use ems for this entire section  */
      font-size: min(2.08vw, .791em);
      width: 42.875em;
      height: 42em;
      position: relative;
      /* flips it horizontally */
      transform: scaleX(-1);
    }
    @keyframes floatAnimation {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-2em);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes floatAnimation2 {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-1em);
      }
      100% {
        transform: translateY(0);
      }
    }
    #sbsr-337 .cs-image-group:before {
      /* blue circle */
      content: '';
      width: 7.5em;
      height: 7.5em;
      border-radius: 50%;
      background: var(--secondary);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 6.25em;
      left: 0em;
      z-index: 10;
      animation-name: floatAnimation;
      animation-duration: 6s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    #sbsr-337 .cs-picture {
      border-radius: 50%;
      border: clamp(6px, 1.2vw, 12px) solid #ffffff;
      /* clips the img tag corners */
      overflow: hidden;
      position: absolute;
      display: block;
    }
    #sbsr-337 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      /* flips it so its the original orientation, undoing the flip on the parent container */
      transform: scaleX(-1);
    }
    #sbsr-337 .cs-picture1 {
      width: 42em;
      height: 42em;
      top: -0.75em;
      left: -0.75em;
    }
    #sbsr-337 .cs-picture2 {
      width: 12.5em;
      height: 12.5em;
      top: -0.75em;
      left: -0.75em;
      animation-name: floatAnimation2;
      animation-duration: 20s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    #sbsr-337 .cs-picture3 {
      width: 18.75em;
      height: 18.75em;
      bottom: -0.75em;
      right: -0.75em;
      animation-name: floatAnimation;
      animation-duration: 13s;
      animation-delay: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbsr-337 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    #sbsr-337 .cs-image-group {
      /* reset the scale */
      font-size: min(1.2vw, 1em);
      /* prevent flexbox from squishing it */
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
    #sbsr-337 .cs-content {
      width: 50%;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #sbsr-337 {
      background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #sbsr-337 .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #sbsr-337 .cs-title,
    body.dark-mode #sbsr-337 .cs-text,
    body.dark-mode #sbsr-337 .cs-li {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbsr-337 .cs-picture,
    body.dark-mode #sbsr-337 .cs-box {
      border-color: var(--accent);
    }
  }

  /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    
    #sbsr-684 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
      /* clips the zigzag graphic so it does cause overflows */
      overflow: hidden;
    }
    #sbsr-684 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #sbsr-684 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 33.875rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #sbsr-684 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #sbsr-684 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #sbsr-684 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #sbsr-684 .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      margin-bottom: 1rem;
    }
    #sbsr-684 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbsr-684 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbsr-684 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #sbsr-684 .cs-button-solid:hover:before {
      width: 100%;
    }
    #sbsr-684 .cs-image-group {
      /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
      font-size: min(2.3vw, .75em);
      width: 39.5em;
      height: 51.25em;
      position: relative;
      z-index: 1;
    }
    #sbsr-684 .cs-picture {
      width: 19.125em;
      height: 22.5em;
      overflow: hidden;
      display: block;
      position: absolute;
    }
    #sbsr-684 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    #sbsr-684 .cs-picture1 {
      top: 0em;
      left: 0;
    }
    #sbsr-684 .cs-picture2 {
      top: 5em;
      right: 0;
    }
    #sbsr-684 .cs-picture3 {
      bottom: 5em;
      left: 0;
    }
    #sbsr-684 .cs-picture4 {
      bottom: 0em;
      right: 0;
    }
    #sbsr-684 .cs-graphic {
      display: none;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #sbsr-684 .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }
    #sbsr-684 .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
      /* sends it to the right in the 2nd position */
      order: 2;
    }
    #sbsr-684 .cs-graphic {
      width: 61.4375em;
      height: auto;
      display: block;
      position: absolute;
      bottom: 10.3125em;
      left: -2em;
      z-index: -1;
      /* flips it horizontally */
      transform: scaleX(-1);
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #sbsr-684 .cs-topper .cs-color {
      color: var(--primaryLight);
    }
    body.dark-mode #sbsr-684 .cs-title,
    body.dark-mode #sbsr-684 .cs-text,
    body.dark-mode #sbsr-684 .cs-h3,
    body.dark-mode #sbsr-684 .cs-item-p {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #sbsr-684 .cs-text,
    body.dark-mode #sbsr-684 .cs-item-p {
      opacity: .8;
    }
    body.dark-mode #sbsr-684 .cs-icon {
      filter: brightness(125%);
    }
    body.dark-mode #sbsr-684 .cs-graphic {
      opacity: .2;
    }
  }

  /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-853 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    position: relative;
  }
  #faq-853 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-853 .cs-picture {
    width: 100%;
    max-width: 39.375rem;
    /* 400px - 775px */
    height: clamp(25rem, 95vw, 48.4375rem);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #faq-853 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #faq-853 .cs-content {
    text-align: left;
    max-width: 33.875rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  #faq-853 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #faq-853 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #faq-853 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    /* 20 characters wide including spaces */
    max-width: 20ch;
    margin: 0 auto 2rem 0;
  }
  #faq-853 .cs-faq-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #faq-853 .cs-faq-item {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    transition: border-bottom 0.3s;
  }
  #faq-853 .cs-faq-item.active {
    border-color: var(--primaryLight);
  }
  #faq-853 .cs-faq-item.active .cs-button {
    color: var(--primary);
  }
  #faq-853 .cs-faq-item.active .cs-button:before {
    background-color: var(--primaryLight);
    transform: rotate(315deg);
  }
  #faq-853 .cs-faq-item.active .cs-button:after {
    background-color: var(--primaryLight);
    transform: rotate(-315deg);
  }
  #faq-853 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 20px - 24px bottom */
    padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
    opacity: 1;
  }
  #faq-853 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    /* 16px - 24px */
    padding: clamp(1rem, 2.3vw, 1.5rem) 0;
    border: none;
    background: transparent;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-853 .cs-button:hover {
    cursor: pointer;
  }
  #faq-853 .cs-button:before {
    /* left line */
    content: '';
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 0.25rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform .5s;
  }
  #faq-853 .cs-button:after {
    /* right line */
    content: '';
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 45%;
    right: 0.0625rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform .5s;
  }
  #faq-853 .cs-button-text {
    width: 90%;
    display: block;
  }
  #faq-853 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    max-width: 33.8125rem;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #faq-853 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #faq-853 .cs-picture {
    width: 50%;
    /* 500px - 750px */
    height: clamp(31.25rem, 68vw, 46.875rem);
  }
  #faq-853 .cs-content {
    width: 55%;
    padding: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-853 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #faq-853 .cs-title,
  body.dark-mode #faq-853 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-853 .cs-faq-item {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #faq-853 .cs-faq-item.active {
    border-color: var(--primaryLight);
  }
  body.dark-mode #faq-853 .cs-faq-item.active .cs-button {
    color: var(--primaryLight);
  }
  body.dark-mode #faq-853 .cs-faq-item.active .cs-button:before,
  body.dark-mode #faq-853 .cs-faq-item.active .cs-button:after {
    background-color: var(--primaryLight);
  }
  body.dark-mode #faq-853 .cs-button {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #faq-853 .cs-button:before,
  body.dark-mode #faq-853 .cs-button:after {
    background-color: var(--bodyTextColorWhite);
  }
}


                              

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-277 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
  }
  #steps-277 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-277 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-277 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #steps-277 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #steps-277 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-277 .cs-title {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 20ch;
  }
  #steps-277 .cs-card-group {
    padding: 0;
    margin: 0;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
  }
  #steps-277 .cs-card-group:before {
    /* list line connector */
    content: '';
    width: 1px;
    background: #1a1a1a;
    opacity: 1;
    position: absolute;
    display: block;
    /* no height, set it as a top to bottom.  
                It will grow with newly added text in the .cs-item-text */
    top: 1rem;
    bottom: 1.5rem;
    left: 3.5rem;
  }
  #steps-277 .cs-item {
    text-align: left;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #steps-277 .cs-number {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    margin-right: 2.75rem;
    /* 40px - 52px */
    width: clamp(2.5rem, 5.1vw, 3.25rem);
    height: clamp(2.5rem, 5.1vw, 3.25rem);
    border-radius: 50%;
    color: var(--bodyTextColorWhite);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
  }
  #steps-277 .cs-number:before {
    /* list circle */
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    background: #1a1a1a;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
  }
  #steps-277 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-277 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #steps-277 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #steps-277 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-277 .cs-container {
    max-width: 80rem;
  }
  #steps-277 .cs-card-group {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2em;
  }
  #steps-277 .cs-card-group:before {
    /* reset width */
    width: auto;
    height: 1px;
    /* 60px - 76px */
    top: clamp(3.75rem, 7.5vw, 4.75rem);
    left: 6.875rem;
    right: 6.875rem;
  }
  #steps-277 .cs-item {
    text-align: center;
    width: 13.625rem;
    /* remove margin from mobile */
    margin: 0;
    /* orient to vertical spacing */
    flex-direction: column;
    align-items: center;
  }
  #steps-277 .cs-number {
    margin: 0;
    /* 40px - 60px */
    margin-bottom: clamp(2.5rem, 6vw, 3.75rem);
  }
  #steps-277 .cs-number:before {
    top: auto;
    left: 50%;
    /* -24px to -28px */
    /* use calc() to multiply clamp value by -1 to get a negative clamp value */
    bottom: calc(clamp(1.5rem, 2.9vw, 1.75rem) *-1);
    transform: translateX(-50%);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps-277 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #steps-277 .cs-title,
  body.dark-mode #steps-277 .cs-text,
  body.dark-mode #steps-277 .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-277 .cs-text {
    opacity: .8;
  }
  body.dark-mode #steps-277 .cs-card-group:before {
    background: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps-277 .cs-number:before {
    background-color: white;
  }
}
                                
/*-- -------------------------- -->
<---         Why Choose         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #why-choose-890 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    /* Centers Button */
    text-align: center;
    padding: var(--sectionPadding);
    /* prevents the arrow from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #why-choose-890:before {
    /* background color, done in a pseudo so it pulls from the variable color */
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: .03;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-890 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #why-choose-890 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #why-choose-890 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #why-choose-890 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #why-choose-890 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-890 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 62.5rem;
  }
  #why-choose-890 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #why-choose-890 .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    /* 20px - 32px */
    padding: clamp(1.25rem, 2.3vw, 2rem);
    background-color: #fff;
    border-radius: 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: span 2;
    position: relative;
    z-index: 1;
  }
  #why-choose-890 .cs-icon {
    width: 3rem;
    height: auto;
    margin: 0 0 1.25rem 0;
    display: block;
  }
  #why-choose-890 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
    transition: color .3s;
  }
  #why-choose-890 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color .3s;
  }
  #why-choose-890 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-890 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #why-choose-890 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-890 .cs-floater {
    width: 21.9375rem;
    height: auto;
    display: none;
    position: absolute;
    top: -13.75rem;
    right: -3.75rem;
    transform: rotate(-66deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-890 .cs-container {
    max-width: 80rem;
  }
  #why-choose-890 .cs-item {
    grid-column: span 1;
  }
  #why-choose-890 .cs-floater {
    display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #why-choose-890:before {
    opacity: .2;
    background-color: #000;
  }
  body.dark-mode #why-choose-890 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #why-choose-890 .cs-title,
  body.dark-mode #why-choose-890 .cs-text,
  body.dark-mode #why-choose-890 .cs-heading3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-890 .cs-item {
    background-color: var(--accent);
  }
  body.dark-mode #why-choose-890 .cs-h3,
  body.dark-mode #why-choose-890 .cs-item-text,
  body.dark-mode #why-choose-890 .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #why-choose-890 .cs-floater {
    opacity: .5;
  }
}

                                                                                   
                                  
                                
                                
                                
                                                                                                 
                                                                                             
                                
                                  