/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  :root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: white;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
}
.cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
}

.cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
}
                            
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/assets/fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-regular.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/assets/fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-700.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('/assets/fonts/roboto-v29-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/assets/fonts/roboto-v29-latin-900.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--bodyTextColor);
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    transition: background-color 0.3s;
  }
  .container {
    position: relative;
    width: 92%;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: var(--headerColor);
  }
  p,
  li,
  a {
    font-size: 1.125rem;
    line-height: 1.5em;
    margin: 0;
  }
  p,
  li {
    color: #575757;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }
  .button-solid {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    width: auto;
    line-height: 3.125em;
    height: 3.125rem;
    text-align: center;
    padding: 0 1.875rem;
    position: relative;
    z-index: 1;
    background-color: var(--primary);
    color: #000;
    transition: color .3s;
    transition-delay: .1s;
  }
  .button-solid:hover {
    color: #fff;
  }
  .button-solid:hover:before {
    width: 100%;
  }
  .button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    width: 0;
    transition: width .3s;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}
/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
  body,
  html {
    font-size: .85vw;
  }
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
  body.dark-mode #dark-mode-toggle-760 .cs-sun {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  body.dark-mode #dark-mode-toggle-760 .cs-moon {
    transform: translate(-50%, -150%);
    opacity: 0;
    fill: var(--primary);
  }
  #cs-navigation-760.cs-active .cs-moon {
    fill: var(--primary);
  }
  #dark-mode-toggle-760 {
    display: block;
    position: absolute;
    top: 0.625rem;
    right: 4.375rem;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    overflow: hidden;
    padding: 0;
    z-index: 1000;
  }
  #dark-mode-toggle-760 img,
  #dark-mode-toggle-760 svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
  }
  #dark-mode-toggle-760 .cs-moon {
    z-index: 2;
    transition: transform .3s, opacity .3s;
    fill: var(--primary);
  }
  #dark-mode-toggle-760 .cs-sun {
    z-index: 1;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform .3s, opacity .3s;
  }
}
/* Desktop */
@media only screen and (min-width: 64em) {
  #dark-mode-toggle-760 {
    position: relative;
    transform: none;
    top: auto;
    right: auto;
    margin: 0 0 0 1.5rem;
  }
  #dark-mode-toggle-760:hover {
    cursor: pointer;
  }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/


/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation-760 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    width: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 100;
  }
  #cs-navigation-760:after {
    /* on hover green bar */
    content: '';
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0%;
    z-index: -1;
    transition: width 0.2s, max-width 0.3s, background-color 0.3s;
  }
  #cs-navigation-760:before {
    /* grey blurrd overlay */
    content: '';
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    position: absolute;
    display: block;
    top: 100%;
    right: 0;
    z-index: -11;
    transition: height .5s, opacity .3s;
  }
  #cs-navigation-760.cs-active:after {
    width: 100%;
    max-width: 100%;
    background-color: #484848;
  }
  #cs-navigation-760.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation-760.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: .2s;
  }
  #cs-navigation-760.cs-active .cs-li {
    transform: translateY(0);
    opacity: 1;
  }
  #cs-navigation-760 .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    padding: 0.75rem 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #cs-navigation-760 .cs-logo img {
    width: 100%;
    height: 140%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation-760 .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    border-radius: 0.25rem;
    background-color: #484848;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation-760 .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation-760 .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }
  #cs-navigation-760 .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }
  #cs-navigation-760 .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation-760 .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation-760 .cs-line1 {
    top: 0;
    transform-origin: center;
    transition: transform .5s, top .3S, left .3S;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation-760 .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top .3s, left .3s, transform .5s;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
  }
  #cs-navigation-760 .cs-line3 {
    bottom: 0;
    transition: bottom .3s, opacity .3s;
  }
  #cs-navigation-760 .cs-ul-wrapper {
    width: 100%;
    opacity: 0;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s, opacity .3s;
  }
  #cs-navigation-760 .cs-ul {
    margin: 0;
    padding: 3rem 0 3rem 0;
    width: 100%;
    height: auto;
    max-height: 65vh;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  #cs-navigation-760 .cs-li {
    text-align: center;
    list-style: none;
    margin-right: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    opacity: 0;
    transition: transform .6s, opacity .9s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(1) {
    transition-delay: .05s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(2) {
    transition-delay: .1s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(3) {
    transition-delay: .15s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(4) {
    transition-delay: .2s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(5) {
    transition-delay: .25s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(6) {
    transition-delay: .3s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(7) {
    transition-delay: .35s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(8) {
    transition-delay: .4s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(9) {
    transition-delay: .45s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(10) {
    transition-delay: .5s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(11) {
    transition-delay: .55s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(12) {
    transition-delay: .6s;
  }
  #cs-navigation-760 .cs-li:nth-of-type(13) {
    transition-delay: .65s;
  }
  #cs-navigation-760 .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation-760 .cs-li-link:before {
    /* active state underline */
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: none;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation-760 .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation-760 .cs-button-solid {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
  body.dark-mode #cs-navigation-760 {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation-760 .cs-ul-wrapper {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation-760 .cs-ul-wrapper:before {
    /* dark overlay */
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  body.dark-mode #cs-navigation-760 .cs-li-link {
    color: var(--bodyTextColorWhite);
  }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #cs-navigation-760 .cs-li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #cs-navigation-760 .cs-dropdown {
    position: relative;
    color: var(--bodyTextColorWhite);
  }
  #cs-navigation-760 .cs-dropdown.cs-active .cs-drop-ul {
    height: auto;
    opacity: 1;
    visibility: visible;
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 0;
  }
  #cs-navigation-760 .cs-dropdown.cs-active .cs-drop-link {
    opacity: 1;
  }
  #cs-navigation-760 .cs-dropdown .cs-li-link {
    position: relative;
    transition: opacity .3s;
  }
  #cs-navigation-760 .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
  }
  #cs-navigation-760 .cs-drop-ul {
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    transition: padding .3s, margin .3s, height .3s, opacity .3s, visibility .3s;
  }
  #cs-navigation-760 .cs-drop-li {
    list-style: none;
  }
  #cs-navigation-760 .cs-li-link.cs-drop-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    color: #fff;
  }
}
/* Desktop - 1023px */
@media only screen and (min-width: 63.9375rem) {
  #cs-navigation-760 .cs-dropdown {
    position: relative;
  }
  #cs-navigation-760 .cs-dropdown:hover {
    cursor: pointer;
  }
  #cs-navigation-760 .cs-dropdown:hover .cs-drop-ul {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  #cs-navigation-760 .cs-dropdown:hover .cs-drop-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation-760 .cs-drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #cs-navigation-760 .cs-drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    border-bottom: 5px solid var(--primary);
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s, visibility .3s, opacity .3s;
  }
  #cs-navigation-760 .cs-drop-li {
    list-style: none;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0;
    width: 100%;
    height: auto;
    color: var(--bodyTextColor);
    display: block;
    transform: translateY(-0.625rem);
    transition: opacity .6s, transform .6s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(1) {
    transition-delay: .05s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(2) {
    transition-delay: .1s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(3) {
    transition-delay: .15s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(4) {
    transition-delay: .2s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(5) {
    transition-delay: .25s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(6) {
    transition-delay: .3s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(7) {
    transition-delay: .35s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(8) {
    transition-delay: .4s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(9) {
    transition-delay: .45s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(10) {
    transition-delay: .5s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(11) {
    transition-delay: .55s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(12) {
    transition-delay: .6s;
  }
  #cs-navigation-760 .cs-drop-li:nth-of-type(13) {
    transition-delay: .65s;
  }
  #cs-navigation-760 .cs-li-link.cs-drop-link {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
    padding: 0.75rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
  #cs-navigation-760 .cs-li-link.cs-drop-link:hover {
    background-color: #f7f7f7;
  }
  #cs-navigation-760 .cs-li-link.cs-drop-link:before {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-navigation-760 .cs-drop-ul {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation-760 .cs-li-link.cs-drop-link:hover {
    background-color: var(--medium);
  }
  body.dark-mode #cs-navigation-760 .cs-drop-icon {
    /* turns it white */
    filter: grayscale(1) brightness(1000%);
  }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation-760 {
    /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
    font-family: 'Roboto', 'Arial', sans-serif;
    width: 100%;
    /* 23px - 420px */
    padding: 0rem 1rem 0rem clamp(14.6875rem, 23vw, 26.25rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10000;
  }
  #cs-navigation-760 .cs-toggle {
    display: none;
  }
  #cs-navigation-760 .cs-logo {
    width: 18.4%;
    max-width: 20rem;
    height: 100%;
    /* 32px - 64px */
    padding: 1rem clamp(2rem, 4vw, 4rem);
    background-color: var(--primary);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  #cs-navigation-760 .cs-logo img {
    width: 100%;
    height: 150%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation-760 .cs-ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 20px - 36px */
    gap: clamp(1.25rem, 2.6vw, 2.25rem);
  }
  #cs-navigation-760 .cs-li {
    list-style: none;
    padding: 2rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation-760 .cs-li:last-of-type {
    /* pushes the button to the far roght */
    margin-left: auto;
  }
  #cs-navigation-760 .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  #cs-navigation-760 .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation-760 .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation-760 .cs-li-link:before {
    /* active state underline */
    content: '';
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0rem;
    left: 0;
    transition: width .3s;
  }
  #cs-navigation-760 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #cs-navigation-760 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #cs-navigation-760 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cs-navigation-760 .cs-nav-button {
    margin: 0 0 0 auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 64rem) {
  body.dark-mode #cs-navigation-760 {
    background-color: var(--dark);
  }
  body.dark-mode #cs-navigation-760 .cs-logo {
    background-color: var(--medium);
  }
  body.dark-mode #cs-navigation-760 .cs-li-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-navigation-760 .cs-li-link:before {
    background-color: var(--primaryLight);
  }
}
                                
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #int-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    min-height: 30vh;
    padding-top: 3.125rem;
  }
  #int-hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #int-hero picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #int-hero picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #int-hero h1 {
    color: #fff;
    font-size: 2.13333333rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 96%;
    max-width: 31.25rem;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
  }
  #int-hero p {
    color: #fff;
    text-align: center;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 1.875rem;
    display: block;
    width: 96%;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 4rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #int-hero {
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    padding-block-end: 6.25rem;
    background-attachment: fixed;
    font-size: inherit;
  }
}
/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-841 {
      padding: var(--sectionPadding);
      /* 30px - 50px */
      padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
      background-color: #fff;
  }
  #cs-footer-841 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 3rem;
      row-gap: 2rem;
  }
  #cs-footer-841 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-841 .cs-logo {
      width: 13.125rem;
      height: auto;
      margin: 0 0 1.5rem 0;
      display: block;
  }
  #cs-footer-841 .cs-logo-img {
      width: 100%;
      height: auto;
  }
  #cs-footer-841 .cs-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0 0 1.5rem 0;
      max-width: 25rem;
      color: var(--bodyTextColor);
  }
  #cs-footer-841 .cs-social {
      display: inline-flex;
      justify-content: flex-start;
      gap: 0.75rem;
  }
  #cs-footer-841 .cs-social-link {
      width: 2rem;
      height: 2rem;
      background-color: #484848;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition:
          transform 0.3s,
          background-color 0.3s;
  }
  #cs-footer-841 .cs-social-link:hover {
      background-color: var(--primaryLight);
      transform: translateY(-0.1875rem);
  }
  #cs-footer-841 .cs-social-img {
      height: 0.75rem;
      width: auto;
      display: block;
  }
  #cs-footer-841 .cs-header {
      font-size: 1.25rem;
      line-height: 1.5em;
      font-weight: 700;
      margin: 0 0 1.25rem 0;
      color: var(--headerColor);
      display: block;
      position: relative;
  }
  #cs-footer-841 .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
  }
  #cs-footer-841 .cs-ul-1 {
      width: 100%;
      max-width: 21.875rem;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 2rem;
  }
  #cs-footer-841 .cs-ul-1 .cs-li {
      width: 44%;
  }
  #cs-footer-841 .cs-li {
      list-style: none;
  }
  #cs-footer-841 .cs-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      text-align: left;
      color: var(--bodyTextColor);
      display: inline-flex;
      align-items: flex-start;
      gap: 0.5rem;
      transition: color 0.3s;
  }
  #cs-footer-841 .cs-link:hover {
      color: var(--primaryLight);
  }
  #cs-footer-841 .cs-icon {
      width: 1.25rem;
      height: auto;
      margin-right: 0.125rem;
      display: block;
  }
  #cs-footer-841 .cs-bottom {
      text-align: center;
      width: 100%;
      max-width: 80rem;
      /* 48px - 64px */
      margin: clamp(3rem, 7vw, 4rem) auto 0;
      padding-top: 1.5rem;
      border-top: 1px solid #e6e6e6;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.75rem;
  }
  #cs-footer-841 .cs-credit,
  #cs-footer-841 .cs-bottom-link,
  #cs-footer-841 .cs-credit-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      width: auto;
      margin: 0;
      color: var(--bodyTextColor);
      display: inline-block;
      position: relative;
      transition: color 0.3s;
  }
  #cs-footer-841 .cs-credit {
      width: 100%;
  }
  #cs-footer-841 .cs-credit-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-decoration: none;
      width: auto;
      margin: 0;
      color: var(--bodyTextColor);
      display: inline-block;
      position: relative;
  }
  #cs-footer-841 .cs-credit-link:hover {
      color: var(--primary);
  }
  #cs-footer-841 .cs-bottom-links {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #cs-footer-841 .cs-bottom-link {
      display: flex;
      align-items: center;
  }
  #cs-footer-841 .cs-bottom-link:hover {
      color: var(--primary);
  }
  #cs-footer-841 .cs-bottom-link:last-of-type:before {
      /* separator */
      content: "";
      width: 1px;
      height: 0.875rem;
      margin: 0 0.75rem;
      background: currentColor;
      opacity: 1;
      display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-841 .cs-container {
      max-width: 80rem;
      /* 48px - 64px */
      row-gap: clamp(3rem, 7vw, 4rem);
  }
  #cs-footer-841 .cs-bottom {
      justify-content: space-between;
      flex-wrap: nowrap;
  }
  #cs-footer-841 .cs-credit {
      text-align: left;
  }
  #cs-footer-841 .cs-bottom-links {
      justify-content: flex-end;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-841 .cs-container {
      /* pushes all flex children to the top */
      align-items: flex-start;
      justify-content: flex-end;
      flex-wrap: nowrap;
  }
  #cs-footer-841 .cs-logo-group {
      width: 30%;
      max-width: 25rem;
      /* pushes everything to the right of it as far as possible in a flexbox */
      margin-right: auto;
  }
  #cs-footer-841 .cs-text {
      width: 100%;
  }
  #cs-footer-841 .cs-social {
      flex-direction: row;
      position: relative;
      top: auto;
      right: auto;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #cs-footer-841 {
      background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #cs-footer-841 .cs-logo-img {
      filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #cs-footer-841 .cs-text,
  body.dark-mode #cs-footer-841 .cs-header,
  body.dark-mode #cs-footer-841 .cs-link,
  body.dark-mode #cs-footer-841 .cs-credit-link,
  body.dark-mode #cs-footer-841 .cs-bottom-link,
  body.dark-mode #cs-footer-841 .cs-credit {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #cs-footer-841 .cs-credit-link:hover,
  body.dark-mode #cs-footer-841 .cs-bottom-link:hover,
  body.dark-mode #cs-footer-841 .cs-link:hover {
      color: var(--primary);
  }
  body.dark-mode #cs-footer-841 .cs-text,
  body.dark-mode #cs-footer-841 .cs-link,
  body.dark-mode #cs-footer-841 .cs-credit,
  body.dark-mode #cs-footer-841 .cs-credit-link,
  body.dark-mode #cs-footer-841 .cs-bottom-link {
      opacity: 0.8;
  }
  body.dark-mode #cs-footer-841 .cs-logo-img{
    display: none;
  }
  body.dark-mode #cs-footer-841 .cs-icon {
      filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #cs-footer-841 .cs-bottom {
      border-color: rgba(255, 255, 255, 0.1);
  }
}

                              
/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-843 {
      /* 175px - 260px top */
      padding: clamp(10.9375rem, 20vw, 16.25rem) 1rem
          clamp(6.25rem, 14vw, 12vw);
      /* clips svg wave from causing overflow issues */
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  #banner-843 .cs-container {
      text-align: center;
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
  }
  #banner-843 .cs-int-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColorWhite);
      position: relative;
  }
  #banner-843 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #banner-843 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: #1a1a1a;
      opacity: 0.64;
      top: 0;
      left: 0;
      z-index: 1;
  }
  #banner-843 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
  }
  #banner-843 .cs-wave {
      /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
      width: 48rem;
      height: auto;
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #banner-843 .cs-wave {
      width: 100%;
      left: 0;
      transform: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #banner-843 .cs-wave path {
      fill: var(--dark);
  }
}

                              
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #footer {
    background: #061623;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-863 {
      padding: var(--sectionPadding);
      position: relative;
      z-index: 1;
  }
  #reviews-863:before {
      content: "";
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: 0.03;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
  }
  #reviews-863 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-863 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 56.25rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #reviews-863 .cs-title {
      /* 20 characters including spaces */
      max-width: 20ch;
  }
  #reviews-863 .cs-text {
      max-width: 100%;
  }
  #reviews-863 .cs-card-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-863 .cs-item {
      list-style: none;
      width: 100%;
      max-width: 39.375rem;
      /* 20px - 32px */
      padding: clamp(1.25rem, 4vw, 2rem);
      background-color: #fff;
      border-radius: 0 1.5rem 0 1.5rem;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
  }
  #reviews-863 .cs-flex-group {
      width: 100%;
      margin: 0 0 1.25rem 0;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid #fbcebd;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.25rem;
  }
  #reviews-863 .cs-profile {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;
  }
  #reviews-863 .cs-profile img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes the image behave like a background image */
      object-fit: cover;
  }
  #reviews-863 .cs-name {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2vw, 1.5625rem);
      line-height: 1.5em;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
      color: var(--headerColor);
      display: block;
  }
  #reviews-863 .cs-job {
      font-size: 0.875rem;
      line-height: 1.2em;
      font-weight: 400;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
  }
  #reviews-863 .cs-review {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      margin-bottom: 1.25rem;
      color: var(--bodyTextColor);
  }
  #reviews-863 .cs-stars {
      width: 6.75rem;
      height: auto;
      margin: 0 0 0.5rem 0;
      display: block;
  }
  #reviews-863 .cs-desc {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #reviews-863 .cs-quote1,
  #reviews-863 .cs-quote2 {
      display: none;
      width: 12.125rem;
      height: auto;
      display: block;
      position: absolute;
      z-index: -1;
  }
  #reviews-863 .cs-quote1 {
      top: 0;
      left: 0;
  }
  #reviews-863 .cs-quote2 {
      bottom: 0;
      right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-863 .cs-container {
      max-width: 80rem;
  }
  #reviews-863 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
  }
  #reviews-863 .cs-stars {
      margin-top: auto;
  }
  #reviews-863 .cs-quote1,
  #reviews-863 .cs-quote2 {
      display: block;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews-863 .cs-topper {
      color: var(--primaryLight);
  }
  body.dark-mode #reviews-863 .cs-title,
  body.dark-mode #reviews-863 .cs-text,
  body.dark-mode #reviews-863 .cs-review,
  body.dark-mode #reviews-863 .cs-name,
  body.dark-mode #reviews-863 .cs-job,
  body.dark-mode #reviews-863 .cs-desc {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-863 .cs-text,
  body.dark-mode #reviews-863 .cs-desc {
      opacity: 0.8;
  }
  body.dark-mode #reviews-863 .cs-item {
      background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #reviews-863 .cs-flex-group {
      border-color: var(--accent);
  }
  body.dark-mode #reviews-863 .cs-quote1,
  body.dark-mode #reviews-863 .cs-quote2 {
      opacity: 0.2;
  }
}

                              
